@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e1e1e1;
  --foreground: #323232;
  --navbar-bg: #d9d9d9;
  --root-text-hover: #d0d0d0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* this is so the imported multiselect component doesnt have double border */
.custom-multiselect .searchWrapper {
  border: none !important;
  padding: 0 !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
