/.history
.DS_Store

# User-specific files
.vs/

dotnet-backend/APIs/appsettings.json
bin/
obj/

*.xlsx
*.png
*.jpg
*.jpeg
*.webp
*.zst


**/.idea/
node_modules

**/.env
**/.idea
